@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Ruda:wght@900&family=Russo+One&display=swap');

body {
  margin: 5px 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  background-color: #222A59;
  color: #e3f8fa;
}

header, nav, aside, main, footer {
  width: 80%;
}

main {
  padding-bottom: 30px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  margin: 10px;
  font-size: 2.5em;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#margin-dev {
  margin-top: 30px;
}

/* -----color----- */
.noe, .youtuber {
  color: #8ce1eb;
}

.portfolio-title {
  color: #8ce1eb;
}

.portfolio-title:hover {
  color: #26c6da;
}

.text-title {
  color: #8ce1eb;
  text-decoration: underline #737373;
}

.text-color-grey {
  color: #737373;
}

.text-color-red, .text-color-red-hover:hover {
  color:#ce0715;
}

#text-color-html, #text-color-ruby, #text-color-rails, #text-color-heroku {
  color: #ebebeb;
} 

.text-color-orange-hover:hover {
  color:#F06529;
}

#text-color-js, .text-color-yellow, .text-color-yellow-hover:hover {
  color:#F0DB4F;
}

.text-color-green-hover:hover {
  color:#03A64A;
}

.text-color-blue, .text-color-blue-hover:hover {
  color:#1952d8;
}

#text-color-css {
  color: #ebebeb;
} 

.text-color-indigo-hover:hover {
  color:#03588C;
}

.text-color-purple-hover:hover {
  color:#741BF2;
}

#text-color-react {
  color:#61DBFB
}

#text-color-mysql {
  color: #ebebeb;
}

/* ----header---- */

#logo {
  width: 4em;
}

/* ----footer---- */

#copy-right {
  font-size: 0.65em;
}

/* ----nav---- */
.nav-img {
  width: 50px;
  height: 50px;
}

.nav-img:hover {
  animation: headShake;
  animation-duration: 0.5s;
}

/* ----portfolio section---- */
.section-background {
  margin-top: 20px;
  padding-bottom: 20px;
}

/* ----portfolio video---- */
.content-video {
  width: 100%;
  padding-top: 16px;
  border-top: 2px solid #9DC8C8;
}

.video {
  width: 99%;
  border: 2px solid #e3f8fa;
}

/* ----portfolio image---- */
.content-image {
  width: 99%;
  border: 2px solid #e3f8fa;
} 

/* ----portfolio text---- */
.content-text {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 4px;
  border-bottom: 2px solid #9DC8C8;
}

.portfolio-text {
  font-size: 16px;
  padding-bottom: 16px;
}

/* ----aside---- */
.aside-img {
  margin-top: 30px;
  width: 50px;
  height: 50px;
}

.aside-img:hover {
  animation: headShake;
  animation-duration: 0.5s;
}

/* ----contact form---- */

#contact-form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  padding: 0;
  margin: 20px 0 0 0;
}

input {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.form-component {
  margin-top: 20px;
  width: 280px; /* adjust input field width */
  align-self: center;
}

.name-input {
  width: 100%;
  height: 1.5em;
  margin-top: 3px;
  border: none;
  background-color: #e3f8fa;
}

.name-label {
  font-size: 12px;
  width: 70px;
}

textarea {
  padding-right: 0;
  padding-left: 0;
  border-right-width: 2px;
  border-left-width: 2px;
  background-color: #e3f8fa;
}
.long-input {
  width: 100%;
  height: 1.5em;
  margin-top: 3px;
  border: none;
  background-color: #e3f8fa;
}

.textarea-input{
  width: 100%;
  height: 10em;
  margin-top: 3px;
  border: none;
}

.form-button {
  display: flex;
  justify-content: center;
}

#form-organisation {
  margin-top: 5px;
}

#send-button {
  color: #222A59;
  background-color: #8ce1eb;
  border: 1px solid #8ce1eb;
  border-radius: 2px;
  font-size: 1em;
  width: 8em;
  padding: 0.5em 0;
  text-align: center;
  margin-top: 15px;
}

#send-button:hover {
  background-color: #26c6da;
}

/* ----blog---- */
.blog-post {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #8ce1eb;
  border-right-style: none;
  border-left-style: none;
  margin-bottom: 4px;
}

figure {
  margin: 1em 0;
}

.blog-image {
  width: 99%;
  border: 2px solid #e3f8fa;
}

figcaption {
  font-size: 0.5em;
  font-style: italic;
  color: #e3f8fa;
}

.blog-title {
  margin: 0 auto 25px auto;
}

.blog-link {
  color: #8ce1eb;
}

.blog-link:hover {
  color: #26c6da;
}

.text-align-center {
  text-align: center;
}


/* ----about hashtags---- */
#about-hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hashtag {
  color: #373C57;
  background-color: #e3f8fa;
  display: inline-block;
  padding: 4px 8px;
  border: 3px solid #26c6da;
  border-radius: 8px;
  margin: 7px 5px;
}

.my-cv {
  background-color: #3D3F40;
  display: inline-block;
  padding: 4px 8px;
  border: 3px solid #26c6da;
  border-radius: 8px;
  margin: 7px 5px;
}

#download-cv {
  color: #87E0EB;
}

.coding-skills1 {
  animation: flash;
  animation-duration: 1.75s;
  animation-delay: 0.25s;
}

.coding-skills2 {
  animation: flash;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.coding-skills3 {
  animation: flash;
  animation-duration: 1.25s;
  animation-delay: 0.75s;
}

#theme-mysql {
  background-color: #32648d;
}

#theme-heroku {
  background-color: #6f4c98;
}

#theme-html {
  background-color: #e34c26;
}

#theme-css {
  background-color: #264de4;
}

#theme-react {
  background-color: #262526;
}

#theme-ruby, #theme-rails {
  background-color: #A91401;
}

#theme-js {
  background-color: #323330;
}

.about-img {
  height: 20px;
}

@media (min-width: 576px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 1.5em;
    margin: 15px;
  }

  #margin-dev {
    margin-top: 0px;
  }
  
  /* logo */
  #logo {
    width: 6em;
  }

  /* nav icons */
  .nav-img {
    width: 80px;
    height: 80px;
  }

  /* aside icons */
  .aside-img {
    margin-top: 0;
    width: 80px;
    height: 80px;
  }
  
  /* form fields */
  .name-input {
    height: 2em;
    margin-top: 5px;
  }

  .long-input {
    height: 2em;
    margin-top: 5px;
  }
  
  .textarea-input{
    height: 15em;
    margin-top: 5px;
  }

  .form-component {
    width: 70%;
  }

  /* icons in about page */
  .about-img {
    height: 18px;
  }

  .portfolio-text {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  /* margin and padding */
  header, nav, aside, main, footer {
    width: 100%;
  }

  #margin-dev {
    margin: 30px 0 70px 0;
  }

  .nav-img {
    padding: 15px;
  }

  #about {
    padding-top: 30px;
  }

  #contact {
    padding-bottom: 30px;;
  }

  .aside-img {
    padding: 15px;
  }

  #facebook {
    padding-top: 30px;
  }

  #codepen {
    padding-bottom: 30px;
  }

  #send-button {
    margin-top: 30px;
  }

  .blog-post {
    width: 300px;
  }

  .content-video {
    width: 350px;
    border-bottom: 2px solid #9DC8C8;
    margin-bottom: 4px;
  }

  .content-text {
    width: 350px;
    padding-bottom: 16px;
    margin-bottom: 4px;
    border-top: 2px solid #9DC8C8;
  }

  .about-img {
    height: 24px;
  }

  .vertical-line {
    width: 4%;
    background-color: #8ce1eb;
    margin: 0 auto 30px auto;
  }
}

@media (min-width: 1450px) {
  .form-component {
    width: 50%;
  }

  #margin-dev {
    margin: 70px 0 120px 0;
  }
}